@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
header{
    box-shadow: 0 0 8px rgba(0, 0, 0, .12);
}
h1{
    margin: 0;
    color: #fff;
    font-size: 46px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    color: #0d0d0d;
}
.top-line{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.top-line ul li{
    display: inline-block;
}
.top-line-left,
.top-line-right{
    display: flex;
}
.logo{
    position: relative;
    margin: 0;
    padding-left: 26px;
    color: #666;
    font-weight: bold;
    font-size: 20px;
}
.logo span{
    color: #0067b8;
}
.logo:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 7px;
    background: url(../images/sprite.png) no-repeat;
}
.top-menu{
    display: flex;
    margin: 0;
    padding-top: 3px;
    font-size: 15px;
}
.top-menu a{
    padding: 11px 24px 22px;
    color: #262626;
    text-decoration: none;   
    border: 1px solid transparent;
}
.top-menu a:hover{
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-bottom-color: #f2f2f2;
}
.arr{
    position: relative;
}
.arr a{
    padding-right: 45px;
}
.arr:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    right: 22px;
    top: 10px;
    background: url(../images/sprite.png) no-repeat -18px 0;
}
form{
    position: relative;
    height: 36px;
}
form input {
    padding: 0 15px;
    height: 36px;
    line-height: 40px;
    width: 270px;
    border: 1px solid #999;
    outline: none;
    color: #3b465b;
    box-sizing: border-box;
    transition: border-color .25s ease;
}
.submit{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    right: 11px;
    background: url(../images/sprite.png) no-repeat -31px 0;
    cursor: pointer;
}
.submit input{
    display: none;
}
.cart{
    padding: 6px 25px;
}
.cart a{
    display: inline-block;
    width: 18px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -50px 0;
}
.exit a{
    display: inline-block;
    padding-top: 3px;
    color: #262626;
}
.tablet{
    overflow: hidden;
    position: relative;
}
.slider-description{
    transform: translateY(50%);
    bottom: 50%;
    text-align: left;
    left: 5%;
    right: 65%;
}
.slider-description h2,
.mcbook-description h2{
    font-size: 46px;
    font-weight: bold;
}
.slider-description p,
.mcbook-description p{
    font-size: 16px;
    line-height: 1.5em;
}
.slider-description a,
.mcbook-description a{
    position: relative;
    color: #262626;
    background-color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 16px 50px 16px 26px;
    display: inline-block;
    text-decoration: none;
}
.slider-description a:hover{
    background-color: #e6e6e6;
}
.slider-description a:after,
.mcbook-description a:after{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    top: 23px;
    right: 25px;
    border: 1px solid #262626;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}
.slider-button-prev,
.slider-button-next{
    width: 45px;
    height: 45px;
    top: calc(100% - 45px);
    background-color: rgba(19, 19, 19, 0.7);
}
.slider-button-prev{
    left: calc(100% - 45px);
    top: calc(100% - 90px);
}
.content{
    padding: 70px 0;
}
.content h2{
    margin-bottom: 45px;
    text-transform: uppercase;
    font-size: 22px;
    color: #0d0d0d;
    font-weight: bold;
    text-align: center;
}
.services{
    display: flex;
    justify-content: space-between;
}
.content figcaption{
    padding-top: 25px;
}
.card-description{
    font-size: 15px;
    color: #262626;
    height: 66px;
    overflow-y: scroll;
}
.button-figure{
    text-transform: uppercase;
}
.mcbook{
    padding: 165px 70px 145px;
    background-image: url(../images/macbook.jpg);
    background-size: cover;
}
.mcbook-description a{
    background-color: #0d0d0d;
    color: #fff;
}
.mcbook-description a:hover{
    background-color: #262626;
}
.mcbook-description a:after{
    border: 1px solid #fff;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.mcbook{
    margin-bottom: 52px;
}
.follow-us h3{
    text-align: center;
    color: #262626;
    font-size: 15px;
}
.soc-media p{
    text-align: center;
}
.soc-media a{
    display: inline-block;
    position: relative;
    padding: 0 14px;
    width: 36px;
    height: 36px;
}
.soc-media a:after{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/soc-media.png);
}
.ie{
    background-color: #425daa;
}
.chrome{
    background-color: #55acee;
}
.chrome:after{
    background-position: -38px 0;
}
.opera{
    background-color: #ed2b2f;
}
.opera::after{
    background-position: -19px 0;
}
.footer-container{
    padding: 58px 0;
}
footer{
    background-color: #f2f2f2;
}
footer ul{
    list-style: none;
    padding-left: 0;
}
footer a,
.copy{
    text-decoration: none;
    font-size: 13px;
    color: #616161;
}
footer a:hover{
    color: #616161;
}
h4{
    font-size: 15px;
    color: #616161;
    font-weight: bold;
}
.copyright li{
    display: inline-block;
    margin: 0 13px;
}
.lang{
    position: relative;
}
.lang:before{
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: -20px;
    top: 2px;
    background: url(../images/sprite.png) no-repeat -80px 0;
    
}